/*公用隐藏*/
.yhname span {white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;}
/*个人中心*/
body {background: #f2f2f2;}
.personalCenter {}
/*头部分内容*/
.pre_header{
	position: relative;
    height: 164px;
    background: url(../images/bjt2.jpg) no-repeat;
    background-size: 100% 164px;
    overflow: hidden;
    /*z-index: 999;*/
}
/*topPrompt*/
.topPrompt {height: 44px;overflow: hidden;text-align: center;}
.topPrompt .prom,.topPrompt .set_up {
	float: left;
	width: 20px;
	height: 22px;
	padding: 9px 12px;
}
.prom b,.set_up b {
	display: block;
	width: 20px;
	height: 22px;
	background: url('../images/personal_inco.png') 0 0 no-repeat;
	background-size: 25px;
}
.set_up b {background-position: 0 -27px;}
.topPrompt .set_up {float: right;}
.topPrompt span {
	display: inline-block;
	line-height: 40px;
	color: #ffffff;
	font-size: 1.12em;
}
/*grsz*/
.grsz {padding-right: 32px;}
.grsz .portrait {padding: 16px 6px 0 117px;}
.portrait a {display: block;}
.portrait .yhtx {
	float: left;
	position: absolute;
	top: 48px;
	left: 24px;
	height: 86px;
	width: 86px;
	overflow: hidden;
}
.yhtx img {display: block;width: 86px;height: 86px;border-radius: 50%;}
.portrait .yhname {height: 22px;margin-top: 8px;overflow: hidden;}
.yhname span {float: left;color: #ffffff;font-size: 1.1em;max-width: 66%;}
.yhname b {
	float: left;
	color: #ffffff;
	background: #000000;
	font-size: 0.6em;
	padding: 0 10px 1px;
	margin: 5px 0 0 10px;
}
.portrait .sex_age {height: 26px;color: #ffffff;font-size: 0.7em;overflow: hidden;}
.sex_age span {color: #ffffff;line-height: 26px;}
.grsz .szLink {
	position: absolute;
	right: 12px;
	top: 72px;
	width: 20px;
	height: 22px;
}
.szLink b {
	display: block;
	width: 20px;
	height: 22px;
	background: url('../images/personal_inco.png') 4px -55px no-repeat;
	background-size: 26px;
}
/*perContent*/
.perContent {position: relative;margin-bottom: 50px;}
/*借阅订单borrow_order*/
.borrow_order {height: 92px;overflow: hidden;background: #ffffff;}
.borrow_order li {float: left;width: 25%;text-align: center;position: relative;}
.borrow_order a,.borrow_order a span{display: block;}
.borrow_order li b {
	display: block;
	height: 36px;
	width: 36px;
	background: url('../images/personal_inco2.png') 4px 2px no-repeat;
	background-size: 36px;
	overflow: hidden;
}
.borrow_order li.jydd {
	height: 92px;
	background: url('../images/xiantiao.png') no-repeat right;
	background-size: 2px 42px;
}
.borrow_order li.dty b {background-position: 0px -45px;}
.borrow_order li.dqs b {background-position: 6px -90px;}
.borrow_order li.dhs b {background-position: 0 -132px;}
.borrow_order a {padding-top: 20px;}
.borrow_order a span {color: #323232;font-size: 0.94em;line-height: 26px}
.borrow_order li .reminder {
	position: absolute;
	left: 50%;
	top: 20px;
	width: 8px;
	height: 8px;
	margin: 0 0 0 8px;
	background: #ff0000;
	border-radius: 50%;
	overflow: hidden;
	z-index: 99;
}
.borrow_order li.dty .reminder{margin: 0 0 0 6px;}
.borrow_order li.dqs .reminder{margin: 0px 0 0 12px;}
.borrow_order li.dhs .reminder{margin: 0px 0 0 14px;}
/*itemLink*/
.itemLink,.itemLink li.gmdd,.itemLink li.wdyj,.itemLink li.wdsg {margin-top: 5px;}
.itemLink li {
	height: 45px;
	background: #ffffff;
	padding: 0 18px;
	overflow: hidden;
}
.itemLink a {
	display: block;
	height: 44px;
	border-bottom: 1px solid #f2f2f2;
	overflow: hidden;
}
.itemLink a .text {
	float: left;
	line-height: 44px;
	color: #323232;
	padding-left: 8px;
	font-size: 0.94em;
}
.itemLink a .arrow_min {
	float: right;
	width: 8px;
	margin-top: 15px;
	height: 14px;
	background: url('../images/personal_inco.png') 0 -50px no-repeat;
	background-size: 15px;
}
/**/
.itemLink li b {
	float: left;
	width: 26px;
	height: 26px;
	margin-top: 9px;
	background: url('../images/personal_inco.png') 0 -112px no-repeat;
	background-size: 26px;
}
.itemLink li.wddt b {background-position: 0 -140px;}
.itemLink li.wdds b {background-position: 0 -170px;}
.itemLink li.wddz b {background-position: 0 -199px;}
.itemLink li.gmdd b {background-position: 0 -228px;}
.itemLink li.wdyj b {background-position: 0 -256px;}
.itemLink li.kfzx b {background-position: 0 -286px;}
.itemLink li.bzzx b {background-position: 4px -316px;}
.itemLink li.wdyh b {background-position: 0 -370px;}
.itemLink li.wdqb b {background-position: 0 -344px;margin-top: 23px;}
.itemLink li.wdqb {position: relative;height: 73px;}
.itemLink li.wdqb a {height: 72px;}
.itemLink .wdqb a .text {padding-top: 14px;}
.itemLink .wdqb a .arrow_min {margin-top: 28px;}
.wdqb .moneyPc {position: absolute;right: 30px;top: 13px;}
.moneyPc div {float: left;text-align: center;width: 74px;}
.moneyPc span,.moneyPc p{display: block;color: #323232;font-size: 0.88em;line-height: 20px;}
.moneyPc p span {display: inline-block;}