body {background: #f2f2f2;}
/**/
.list_con .cl_name,.cl_dz span {white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;}
/*confirmPickup*/
/*cfp_nav*/
.cfp_nav {
	height: 44px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: #ffffff;
	overflow: hidden;
	z-index: 99;
}
.cfp_nav .return {float: left;width: 12px;padding: 11px 0 0 12px;}
.cfp_nav img {display: block;width: 12px;height: 21px;}
.cfp_nav .cfp_txt {
	line-height: 45px;
	display: block;
	text-align: center;
	padding-right: 12px; 
	font-size: 1.13em;
}
/*cfp_con*/
.cfp_con {margin-top: 45px;}
.cfp_con .cfp_img {background: #ffffff;padding: 24px 0 28px;}
.cfp_img img {width: 80%;display: block;}
/*cfp_list*/
.cfp_list {margin-top: 4px;}
.cfp_list .cl_dz {
	height: 34px;
	padding: 0 14px 0 38px;
	background: url('../images/fz2.png') no-repeat top 9px left 14px #ffffff;
	background-size: 16px;
	overflow: hidden;
}
.cl_dz span {
	display: block;
	word-break: break-all;
	color: #323232;
	font-size: 0.75em;
	line-height: 34px;
}
/*list_con*/
.cfp_list .list_con {
	position: relative;
	margin-top: 4px;
	padding: 16px 14px 20px 94px;
	background: #ffffff;
	min-height: 70px;
}
.list_con .cl_img {
	position: absolute;
	left: 14px;
	top: 20px;
	width: 70px;
	height: 70px;
	overflow: hidden;
}
/**/
/*xl_ddxx*/
.list_con .cl_jyjg {
	position: absolute;
	right: 14px;
	top: 16px;
	color: #363636;
	font-size: 0.88em;
}
.cl_jyjg .jyjg,.cl_jyjg .jyjg b {
	color: #363636;
	font-size: 0.94em;
	line-height: 26px;
}
.cl_jyjg .day_num {
	color: #878787;
	padding-top: 2px;
	line-height: 24px;
	font-size: 0.75em;
	text-align: right;
}
.day_num span,.day_num b {display: inline-block;color: #878787;}
.day_num b {font-size: 0.75em;}
/**/
.list_con .cl_name {
	font-size: 0.94em;
	color: #323232;
	line-height: 26px;
	height: 26px;
	width: 66%;
	margin: 0;
}
.list_con .cl_xdsj {margin-top: 6px;}
.cl_xdsj,.cl_ddbh {
	height: 18px;
	line-height: 18px;
	font-size: 0.75em;
}
.cl_xdsj span,.cl_ddbh span {color: #8c8c8c;}
/*cfp_link*/
.cfp_link {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 62px;
	background: #fbb45a;
	text-align: center;
	overflow: hidden;
}
.cfp_link .vertical {
	float: left;
	width: 1px;
	height: 24px;
	margin-top: 18px;
	background: #ffffff;
}
.cfp_link a {
	float: left;
	width: 30%;
	font-size: 1.13em;
	line-height: 62px;
	color: #ffffff;
}
.cfp_link a.fhsy {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 40%;
	font-size: 1.5em;
	background: #f9514e;
}