button:focus { outline: none;}
/*公共隐藏*/
.name_phone span.name {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/*订单结算页面*/
body {background: #f2f2f2;}
/*navDd*/
.navDd {height: 38px;padding: 0 12px;background: #ffffff;overflow: hidden;}
.navDd a,.navDd .confirm {float: left;font-size: 0.94em;line-height: 38px;}
.navDd a.grzx {float: right;}
.navDd .return img {float: left;width: 12px;margin: 8px 10px 0 0;}
/*物流logistics*/
.logistics {margin-top: 5px;}
/*order_process*/
.order_process {background: #ffffff;margin-top: 5px;}
.order_process .state {height: 45px;padding: 0 12px;border-bottom: 1px solid #f2f2f2;overflow: hidden;}
.state span {line-height: 46px;color: #00cc99;font-size: 0.75em;}
.state span.sta_text {font-size: 1.13em;float: left;}
.state .ord_time {float: right;}
.state span.date {padding-right: 4px;}
/*proList*/
.proList {padding-bottom: 20px;}
.proList ul li {
	display: block;
	position: relative;
	padding: 0 20px 0 64px;
	height: 46px;
	overflow: hidden;
}
.proList b {
	position: absolute;
	left: 20px;
	top: 16px;
	height: 23px;
	width: 23px;
	background: url('../images/process.png') 0 -48px no-repeat;
	background-size: 23px;
}
.proList span {
	float: right;
	color: #979797;
	font-size: 0.75em;
	line-height: 24px;
	padding-top: 16px;
	margin-left: 14px;
	display: none;
	overflow: hidden;
}
.proList span.proLeft {float: left;display: block;}
.proList ul li {
	background: url('../images/jdt_sx.png') 31px -48px no-repeat;
	background-size: 1px;
}
.proList ul li.first {
	background: url('../images/jdt_sx2.png') 31px 30px no-repeat;
	background-size: 1px;
}
.proList ul li.last {background-position: 31px -70px;background-size: 1px;}
/*第一种状态*/
.proSel li.yzf b,.proSel2 li.jhz b,.proSel3 li.dps b,.proSel4 li.last b {
	background: url('../images/process.png') 0 0 no-repeat;
	background-size: 23px;
}
.proSel li.yzf span,.proSel2 li.yzf span,.proSel2 li.jhz span {display: block;}
.proSel li.yzf .proLeft,.proSel2 li.jhz .proLeft,.proSel3 li.dps .proLeft,.proSel4 li.last .proLeft {font-size: 1.13em;color: #00cc99;}
/*proSel2第2种状态*/
.proSel2 li.yzf .proLeft {color: #00cc99;}
.proSel2 li.yzf b,.proSel3 li.yzf b,.proSel3 li.jhz b,.proSel4 ul li b  {
	background: url('../images/process.png') 0 -24px no-repeat;
	background-size: 23px;
}
.proSel2 ul li.yzf,.proSel3 ul li.yzf,.proSel4 ul li.yzf {
	background: url('../images/jdt_sx.png') 31px 24px no-repeat;
	background-size: 1px;
}
.proSel2 ul li.jhz,.proSel3 ul li.dps {
	background: url('../images/jdt_sx.png') 31px -10px no-repeat;
	background-size: 1px;
}
/*proSel3第3种状态*/
.proSel3 li span,.proSel3 li.last .proLeft,.proSel4 li span {display: block;}
.proSel3 li.last span {display: none;}
.proSel3 li .proLeft,.proSel4 li .proLeft {color: #00cc99;}
.proSel3 li.last .proLeft {color: #979797;}
.proSel3 ul li.jhz{
	background: url('../images/jdt_sx.png') 31px 0 no-repeat;
	background-size: 1px;
}
/*proSel4第4种状态*/
.proSel4 ul li{
	background: url('../images/jdt_sx.png') 31px 0 no-repeat;
	background-size: 1px;
}
.proSel4 ul li.last {
	background: url('../images/jdt_sx3.png') 31px 0 no-repeat;
	background-size: 1px;
}
/*order_info*/
.order_info {background: #ffffff;margin-top: 5px;}
.name_phone {
	height: 34px;
	padding: 0 12px;
	overflow: hidden;
}
.name_phone span {float: left;line-height: 36px;color: #626262;font-size: 0.94em;}
.name_phone span.phone {float: right;}
.name_phone span.name {width: 60%;}
.order_info .address {
	position: relative;
	border-top: 1px solid #f2f2f2;
	padding: 8px 12px 10px 50px;
}
.address span {
	display: block;
	font-size: 0.94em;
	line-height: 20px;
	word-break: break-all;
	color: #626262;
}
.address span.add_text {
	position: absolute;
	left: 12px;
	top: 8px;
	color: #00cc99;
}