.rmdList .rmd_tit {white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow: hidden;}
/*classification*/
/*nav*/
.nav_tj {
	position: fixed;
	top: 0;
	left: 0
	height: 44px;
	text-align: center;
	width:100%;
	background: #ffffff;
	z-index: 99;
	overflow: hidden;
}
.nav_tj a.return {position: absolute;left: 10px;top: 10px;width: 12px;height: 21px;}
.nav_tj a.return img,.nav_tj a.partake img {display: block;width: 100%;}
.nav_tj a.partake {position: absolute;top: 10px;width: 20px;height: 20px;right: 10px;}
.nav_tj span{color: #222222;line-height: 44px;font-size: 1.1em;display: block;}
/*热门推荐navigate*/
.rmtj {margin-top: 44px;}
.rmtj h3,.qbfl h3 {
	font-size: 1.1em;
	padding: 10px 20px;
	background: #f2f2f2;
	margin: 0;
	font-weight: normal;
}
.jy .navigate {display:flow-root;}
.navigate li {float: left;width: 25%;text-align: center;font-size: 0.8em;}
.navigate li img {display: block;width: 42%;margin: 10px auto;}
.navigate li span {display: block;color: #222222;line-height: 20px;margin-bottom: 10px;}
/*qbfl*/
.qbfl {clear: both;}
.qbfl li {border-top: 1px solid #f2f2f2;padding: 6px 20px;}
.qbfl li a{display: block;}
.qbfl li span {color: #979797;line-height: 26px;display: block;word-break: break-all;}
.qbfl li .xbt {display: block;font-size: 1.1em;color: #222222;}
/*推荐书单tjsd*/
.recommendsd {}
/*rmdList*/
.rmdList {margin-top: 52px;}
.rmdList li {padding: 12px 12px 16px;background: #ffffff;margin-bottom: 5px;min-height: 105px;}
.rmdList li a {display: block;position: relative;padding-left: 116px;}
.rmdList .rmd_img {
	position: absolute;
	left: 0;
	top: 0;
	width: 105px;
	height: 105px;
	overflow: hidden;
}
.rmdList .rmd_tit {
	color: #323232;
	font-size: 1.13em;
	height: 26px;
	line-height: 26px;
	word-break: break-all;
}
.rmd_author {}
.rmd_author span {
	color: #979797;
	font-size: 0.94em;
	line-height: 22px;
	word-break: break-all;
}
.rmdList .rmd_score {height: 22px;overflow: hidden;padding-top: 4px;}
.rmd_score .score {float: left;}
.score b {
	float: left;
	width: 100px;
	height: 18px;
	background: url('../images/stary4.png') 0 0 no-repeat;
	background-size: 100px;
}
.score b.stars4 {background-position: 0 -22px;}
.score b.stars3 {background-position: 0 -45px;}
.score b.stars2 {background-position: 0 -68px;}
.score b.stars1 {background-position: 0 -90px;}
.score b.stars0 {background-position: 0 -112px;}
.score span {color: #00cc99;font-size: 0.94em;line-height: 18px;float: left;padding-left: 6px;}
.rmd_score .evaluate {
	float: right;
	color: #979797;
	line-height: 18px;
	font-size: 0.75em;
}
.evaluate span {color: #979797;}
.rmdList .synopsis {
	padding-top: 4px;
	line-height: 16px;
	color: #979797;
	font-size: 0.82em;
	word-break: break-all;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.rmdList .zjjg {
	padding-top: 4px;
	height: 24px;
	line-height: 24px;
	color: #00cc99;
	overflow: hidden;
}
.zjjg span {color: #00cc99;}
/*iPhone5*/
@media screen and (max-width: 320px){ 
	.score b {
		width: 80px;
		background-size: 80px;
		background-position: 0 2px;
	}
	.score b.stars4 {background-position: 0 -16px;}
	.score b.stars3 {background-position: 0 -34px;}
	.score b.stars2 {background-position: 0 -52px;}
	.score b.stars1 {background-position: 0 -70px;}
	.score b.stars0 {background-position: 0 -88px;}
	.score span {font-size: 0.8em;}
}