/*选择还书方式*/
button:focus { outline: none;}
/*returnMode*/
.returnMode {}
.returnMode .tmbj2 {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../../images/bg3.png');
	z-index:9999;
}
.hsfs {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #f2f2f2;
	z-index:9999;
}
.hsfs .rm_txt {height: 44px;background: #ffffff;padding: 0 40px 0 10px;overflow: hidden;}
.hsfs .rm_txt a {float: left;width: 30px;margin-top: 7px;}
.hsfs .rm_txt a img {display: block;width: 30px;}
.hsfs .rm_txt span {display: block;text-align: center;line-height: 44px;font-size: 1.13em;}
/**/
.rmList {
	background: #ffffff;
	margin-top: 1px;
	padding: 0 12px;
}
.rmList label {
	display: block;
	height: 60px;
	background: #ffffff;
	position: relative;
	border-bottom: 1px solid #f2f2f2;
}
.rmList label span {
	float: left;
	color: #363636;
	font-size: 1.12em;
	line-height: 60px;
	padding-left: 10px;
}
.rmList label .rm_img {
	float: left;
	width: 42px;
	height: 40px;
	margin-top: 10px;
	padding: 0;
	background: url('../images/ghfs_inco.png') 0 2px no-repeat;
	background-size: 42px;
	overflow: hidden;
}
.rmList label.jqhs .rm_img {background-position: 0 -41px;}
.rmList label.kdhs .rm_img {background-position: 0 -82px;}
.rmList input {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 20px;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    filter:alpha(opacity=0);
	z-index: 99999;
}
.rmList i {
	position: absolute;
	right: 0;
	top: 20px;
	width: 21px;
	height: 21px;
	background: url('../../images/yuan1.png') no-repeat #ffffff;
	background-size: 20px;
	z-index: 9999;
}
.rmList .sel3 i {background: url('../../images/yuan2.png') no-repeat #ffffff;background-size: 20px;}
.returnMode .qrgh {
	margin-top: 10px;
	color: #ffffff;
	background: #00cc99;
	font-size: 1.14em;
	display: block;
	height: 50px;
	/*line-height: 50px;*/
	width: 100%;
	border: 0;
	text-align: center;
}